{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Mypage</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/forlion.css'%}">
        <link rel="stylesheet" media="print" href="{% static 'css/forlion.css'%}">
    </head>
    <body>
      <div id="body-wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav">
                <div class="container-fluid">
                  <a class="navbar-brand" href="{%url 'home' %}">
                    <img src="{%static 'img/hongik_logo/logo-2.png'%}" width=60px, height=60px alt="likelion">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link px-4 active" aria-current="page" href="{%url 'aboutus' %}">ABOUT US</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link px-4 active" href="{%url 'forlion' %}">FOR 10TH LIONS</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link px-4 active" href="{%url 'recruit' %}">RECRUIT</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link px-4 active" href="{%url 'QA' %}" tabindex="-1" aria-disabled="true">Q&A</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>
<div class="font-apply">
<header class="for-new-lion-header">
    <img src="{%static 'img/hack your life.png'%}" alt="hack your life 이미지">
    <div class="header-text">
        <div class="headers">
            <div class="white-header">멋쟁이 사자처럼 </div>
            <div class="orange-header">홍익대 10기</div>
        </div>
        <div class="white-header">활동 소개</div>
    </div>
</header>
<section class="forlion-sec1 container">
    <article>
        <div class="semititle">
            <div class="imo-wrap"><div class="imo"><img src="{%static 'img/books.png'%}" alt="책 사진"></div>온라인 오프라인 중심의 웹 프로그래밍 학습</div>
        </div>
        <div class="content-forlion">
            <div class="indent">멋사에서 제공하는 자체 온라인 강의 플랫폼인 <mark class="orange">'Code Lion'</mark>을 통해 매주 팀별 스터디를 통해 웹 프로그래밍을 배웁니다.</div>
            <div class="indent">'Code Lion'은 최신 기술 스택 및 툴을 활용하여 학생이 강의를 듣는 도중 실시간으로 코드를 실습할 수 있으며, 출석률과 강의 진도 체크를 통해 수강률 관리를 도와줍니다.</div>
            <br>
            <div class="indent">멋사 9기 활동에서 가장 아쉬웠던 점은 코로나 19로 인하여 오프라인으로 스터디를 자주 진행하지 못했다는 것입니다.</div>
            <div class="indent">멋사 10기는 코로나 19의 상황이 좋아지는 대로 <mark class="orange">오프라인 중심으로 매주 팀별 스터디를 진행할 수 있도록 노력할 것입니다.</mark></div>
        </div>
    </article>

    <article>
        <div class="semititle">
            <div class="imo-wrap"><div class="imo"><img src="{%static 'img/books.png'%}" alt="책 사진"></div>매주 진행되는 실습과 제공되는 교육자료</div>
        </div>
        <div class="content-forlion">
            <div class="indent">매주 스터디를 통해 Code Lion에서 제공되는 강의 내용을 잘 습득하였는지 확인하는 실습이 진행될 예정입니다.</div>
            <div class="indent">실습에서는 운영진이 설정하는 주제에 맞게 <mark class="orange">코드를 짜고 실시간으로 피드백과 디버깅을 받을 수 있도록</mark> 학습 프로그래밍이 구성될 예정입니다.</div>
            <br>
            <div class="indent">또한 Code Lion에서 제공되는 강의를 더 잘 이해할 수 있도록 운영진이 <mark class="orange">Notion을 활용하여 교육 자료를 직접 제작하였습니다.</mark></div>
            <div class="indent">10기 학생들이 강의를 수강하고 자신의 실력을 발전시키는 데 도움이 되도록 매주 교육자료를 제공할 예정입니다.</div>
        </div>
    </article>

    <article>
        <div class="semititle">
            <div class="imo-wrap"><div class="imo"><img src="{%static 'img/books.png'%}" alt="책 사진"></div>체계적인 3Track 교육</div>
        </div>
        <div class="content-forlion">
            <div class="indent">멋사 10기부터는 이전 기수와 달리, <mark class="orange">기획 및 디자인 Track, 프론트엔드 Track, 백엔드 Track</mark>으로 나뉘어 교육이 진행됩니다.</div>
            <div class="indent">기본 개발을 위한 교육인 HTML/CSS, Python은 모든 트랙에게 교육기회가 제공됩니다.</div>
            <br>
            <div class="indent">기획, 디자인 Track을 선택한 학생에게는 멋사 Head of Product인 '이지훈'님과 Head Of Design인 '김지홍'님의 특강이 제공될 예정입니다.</div>
            <div class="indent">프론트엔드 Track은 Javascript + React의 강의가 추가로 제공될 것이고, 백엔드 Track은 Django 강의가 추가로 제공됩니다.</div>
        </div>
    </article>
    <div class="forlion-image1">
        <img src="{%static 'img/김지홍님.jpg'%}" alt="김지홍님 사진">
        <img src="{%static 'img/이지훈님.jpg'%}" alt="이지훈님 사진">
    </div>
    <article>
        <div class="semititle">
            <div class="imo-wrap"><div class="imo"><img src="{%static 'img/books.png'%}" alt="책 사진"></div>아이디어톤</div>       
        </div>
        <div class="content-forlion">
            <div class="indent">팀프로젝트를 통해 실현하고 싶은 내 아이디어(웹 서비스)를 발표하는 자리입니다. 전국의 멋대 학생들이 모여 아이디어를 공유하는 네트워킹의 장입니다.</div>
            <div class="indent">아이디어 발표를 통해 팀 프로젝트를 함께 하고 싶은 학생과 팀 빌딩을 할 수 있고, 서로의 아이디어를 공유하며 더 나은 서비스를 위한 피드백과 보완이 이루어집니다.</div>
            <div class="indent">아이디어톤은 전국 45개 대학의 웹 프로그래밍에 관심이 있는 학생들과 소통할 수 있는 멋사만의 특별한 성장 기회입니다.</div>
        </div>
    </article>
    <article>
        <div class="semititle">
            <div class="imo-wrap"><div class="imo"><img src="{%static 'img/books.png'%}" alt="책 사진"></div>멋사 중앙 해커톤</div>       
        </div>
        <div class="content-forlion">
            <img id='hackton-img' src="{%static 'img/hackton_img.jpeg'%}" alt="해커톤 사진">
            <div class="indent">그동안의 교육을 받으며 고민했던 학생들의 <mark class="orange">아이디어가 실제로 구현되는 축제의 장입니다.</mark> 각 대학이 한 자리에 모여 밤샘 코딩 및 최종발표를 합니다.</div>
            <div class="indent">팀빌딩이 이루어져 창업까지 연계되는 사례가 다수 있으며, 개발 과정의 협업을 경험할 수 있게 됩니다.</div>
        </div>
    </article>
    <article>
        <div class="semititle">
            <div class="imo-wrap"><div class="imo"><img src="{%static 'img/books.png'%}" alt="책 사진"></div>대학 연합 해커톤</div>       
        </div>
        <div class="content-forlion">
            <div class="hackton-combine">
                <div>
                    <p>HONGIK</p>
                    <p>UNIVERSITY</p>
                    <mark class="orange">LIKE LION</mark>
                </div>
                <p id="X">X</p>
                <p id="question-mark">?</p>
            </div>
             <div class="indent">멋사 중앙 해커톤만 참여해서 아쉽다면?!</div>
            <div class="indent"><mark class="orange">다른 대학교와의 연합을 통하여 함께 프로젝트를 진행할 예정입니다.</mark> 학교 간 다양한 교류 행사를 개최하여 학교 간의 교류의 장을 확장합니다.</div>
            <div class="indent">이를 통해 비슷한 관심사를 가진 타 대학의 학생들을 만나 아이디어를 교류하고 함께 성장할 수 있습니다.</div>
        </div>
    </article>
    <article>
        <div class="semititle">
            <div class="imo-wrap"><div class="imo"><img src="{%static 'img/books.png'%}" alt="책 사진"></div>멋사 10기 활동 일정</div>       
        </div>
        <div class="content-forlion">
            <table>
                <ul><div> <mark class="orange">2월</mark> 교육생 모집 </div></ul>
                <ul><div> <mark class="orange">3월 ~ 5월</mark> 10기 학생 교육 시작 </div></ul>
                <ul><div> <mark class="orange">7월</mark> 중앙 아이디어톤 </div></ul>
                <ul><div> <mark class="orange">8월</mark> 중앙 해커톤 </div></ul>
                <ul><div> <mark class="orange">9월 ~</mark> 연합해커톤 및 After Service</div></ul>
                <ul><div> <mark class="orange">12월</mark> 교육 종료</div></ul>
            </table>
        </div>
    </article>
</section>
<footer>copyright CODE LION. ALL rights reserved.</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</div>
</body>
</html>