@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&display=swap');
*{
    font-family: 'Montserrat';
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
*{
    font-family: 'Noto Sans', sans-serif;
}

html{
    height:100%;
}

body{
    padding: 0;
    margin: 0;
    width:100%;
    min-height : 100%;
  }

.QA-word{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.QA-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: black;
    padding: 30px 25px;
}
.white-header{
    color:white;
    font-size: 60px;
    font-family: "Noto Sans";
    font-weight: 700;
}

.orange-header{
    font-size: 60px;
    font-family: "Noto Sans";
    font-weight: 700;
    color: orange;
}

.image1{
    width:950px;
    height:450px;
}

/* introduce 태그 */

.QA-introduce{
    text-align: center;
    margin : 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.white-introduce{
    color:white;
    font-size: 40px;
    font-family: "Noto Sans";
    font-weight: 700;
}


.orange-introduce{
    font-size: 40px;
    font-family: "Noto Sans";
    font-weight: 700;
    color: orange;
}

.QA-introduce-people 
{
    display: flex;
    flex-direction: row;
    margin : 0 auto;
}

.people-box{
    text-align: center;
    font-family: "Noto Sans";
    width:380px;
    height:700px;
}

.people-image-box{
    width:380px; height:380px; overflow:hidden;  margin:0 auto;
}

.white-name{
    color:white;
    font-size:30px;
    margin:10px;
    font-weight: 700;

}

.orange-name{
    color:orange;
    font-size:30px;
    margin:10px;
    font-weight: 700;

}
.white-describe{
    color:white;
    font-size:25px;
    margin:20px;
    font-weight: 500;
}

/* qA 부분 */

.question-box{
    display: flex;
    flex-direction: row;
    margin:10px 40px;
    width:auto;
    height: 170px;
    padding-bottom:15px;
    border-top: solid orange 5px;
}

.answer-box{
    margin:0px 40px;
    width:auto;
    height: 200px;
}


.caption-Q{
    
    color:orange;
    font-size:80px;
    font-style: "Noto Sans";
    font-weight:1000;
    margin-right:40px;
}

.question{
    color:orange;
    font-size:50px;
    font-style: "Noto Sans";
    font-weight:700;
    padding-top:40px;
}

.answer-white{
    color:white ;
    font-size:30px;
    font-style:"Noto Sans";
    font-weight:500;
}

footer{
    text-align: left;
    color: gray;
}
/* header 태그 */


@media screen and (min-device-width: 375px) and (max-device-width: 812px){

    .QA-word{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .QA-header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 13px;
        background-color: black;
        margin-top: 0;
        padding-top: 120px;
    }
    .white-header{
        color:white;
        font-size: 37px;
        font-family: "Noto Sans";
        font-weight: 700;
    }

    .orange-header{
        font-size: 37px;
        font-family: "Noto Sans";
        font-weight: 700;
        color: orange;
    }

    .image1{
        width:800px;
        height:350px;
    }

    /* introduce 태그 */

    .QA-introduce{
        text-align: center;
        margin : 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .white-introduce{
        color:white;
        font-size: 40px;
        font-family: "Noto Sans";
        font-weight: 700;
    }


    .orange-introduce{
        font-size: 40px;
        font-family: "Noto Sans";
        font-weight: 700;
        color: orange;
    }

    .QA-introduce-people 
    {
        display: flex;
        flex-direction: row;
        margin : 0 auto;
    }

    .people-box{
        text-align: center;
        font-family: "Noto Sans";
        width:380px;
        height:700px;
    }

    .people-image-box{
        width:200px; height:200px; overflow:hidden;  margin:0 auto;
    }

    .white-name{
        color:white;
        font-size:30px;
        margin:10px;
        font-weight: 700;

    }

    .orange-name{
        color:orange;
        font-size:30px;
        margin:10px;
        font-weight: 700;

    }
    .white-describe{
        color:white;
        font-size:25px;
        margin:20px;
        font-weight: 500;
    }

    /* qA 부분 */
    .question-box{
        display: flex;
        flex-direction: row;
        margin:10px 40px;
        width:auto;
        height: 170px;
        padding-bottom:15px;
        border-top: solid orange 5px;
    }

    .answer-box{
        margin:0px 40px;
        width:auto;
        height: 200px;
    }


    .caption-Q{
        
        color:orange;
        font-size:80px;
        font-style: "Noto Sans";
        font-weight:1000;
        margin-right:40px;
    }

    .question{
        color:orange;
        font-size:50px;
        font-style: "Noto Sans";
        font-weight:700;
        padding-top:40px;
    }

    .answer-white{
        color:white ;
        font-size:30px;
        font-style:"Noto Sans";
        font-weight:500;
    }
}