@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&display=swap');
*{
    font-family: 'Montserrat';
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
*{
    font-family: 'Noto Sans', sans-serif;
}



/* header 태그 */

.QA-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    background-color: black;
    padding: 30px 25px;
}
.white-header{
    color:white;
    font-size: 60px;
    font-family: "Noto Sans";
    font-weight: 700;
}

.orange-header{
    font-size: 60px;
    font-family: "Noto Sans";
    font-weight: 700;
    color: orange;
}

.image1{
    width:950px;
    height:450px;
}

/* introduce 태그 */

.QA-introduce{
    text-align: center;
    margin : 30px;
}

.white-introduce{
    color:white;
    font-size: 40px;
    font-family: "Noto Sans";
    font-weight: 700;
}


.orange-introduce{
    font-size: 40px;
    font-family: "Noto Sans";
    font-weight: 700;
    color: orange;
}

.QA-introduce-people 
{
    display: flex;
    flex-direction: row;
    margin : 0 auto;
}

.people-box{
    text-align: center;
    font-family: "Noto Sans";
    width:380px;
    height:700px;
}

.white-name{
    color:white;
    font-size:30px;
    margin:10px;
    font-weight: 700;

}

.orange-name{
    color:orange;
    font-size:30px;
    margin:10px;
    font-weight: 700;

}
.white-describe{
    color:white;
    font-size:25px;
    margin:20px;
    font-weight: 500;
}

/* qA 부분 */

.question-box{
    display: flex;
    flex-direction: row;
    margin:10px 40px;
    width:auto;
    height: 170px;
    padding-bottom:15px;
    border-top: solid orange 5px;
}

.answer-box{
    margin:0px 40px;
    width:auto;
    height: 200px;
}


.caption-Q{
    
    color:orange;
    font-size:80px;
    font-style: "Noto Sans";
    font-weight:1000;
    margin-right:40px;
}

.question{
    color:orange;
    font-size:50px;
    font-style: "Noto Sans";
    font-weight:700;
    padding-top:40px;
}

.answer-white{
    color:white ;
    font-size:30px;
    font-style:"Noto Sans";
    font-weight:500;
}