@font-face {
    font-family: 'BMEuljiro10yearslater';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/BMEuljiro10yearslater.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family:'BMEuljiro10yearslater', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

.nav{
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
}

#body-wrapper{
    min-height: 100%;
    position: relative;
    background-color: black;
}

#home_img1{background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/a.jpg);}
#home_img2{background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/b.jpg);}
#home_img3{background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/c.jpg);}

.logo{
    width:100px;
    height:100px;
}
.home-img-display{
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-caption-display{
    top:37%;
    color:white;
}

.home-caption-display h1{
    font-size:6em;
}

.home-caption-display p{
    font-size: 2.5em;
}

.posting-header{
    padding:120px 0;
    text-align: center;
}

.posting-en{
   font-size: 1.2em;
   font-weight: 700;
   line-height: 3;
}

.headers{
    display: flex;
    gap: 15px;
}

.orange-header{
    color: orange;
}


.imo-wrap{
    display: flex;
    gap: 7px;
}

.imo img{
    width: 35px;
    height: 35px;
}

.posting-h{
    font-size: 2.7em;
    line-height: 1.5;
 }

@media only screen and (max-width:600px){
    .home-img-display{
        height: 60vh;
    }
    .home-caption-display{
        top:20%;
    }
    .posting-header{
        padding: 70px 0;
    }
    .home-caption-display h1{
        font-size: 2.7em;
    }
    .home-caption-display p{
        font-size: 1.6em;
    }
    .posting-h{
        font-size: 2em;
    }

}

@media screen and (min-device-width: 375px) and (max-device-width: 812px){

    .for-new-lion-header{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 13px;
        background-color: black;
        margin-top: 0;
        padding-top: 120px;
    }
    .white-header{
        font-size: 40px;
    }
    .headers{
        display: block;
        gap: 15px;
    }
    .orange-header{
        font-size: 40px;
        color: orange;
    }
}

.sns-img{
    width:150px;
    height: 100px;
}

.sns-wrap{
    text-align: right;
}

.for-new-lion-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    margin-top: 0;
    padding-top: 120px;
}

.header-text{
    font-size: 50px;
    font-weight: bolder;
    color: white;
}
.forlion-sec1{
    background-color: black;
    color:white;
}

.semititle{
    font-size: 30px;
}

.content-forlion{
    margin-bottom: 0;
    padding-bottom: 30px;
}

.forlion-image1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

#hackton-img{
    width: 600px;
    height: 450px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hackton-combine{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

mark.orange {
    color:orange;
    background: none;
}

#X{
    font-size: 50px;
}

#question-mark{
    font-size: 50px;
}

footer{
    text-align: center; /* 글자를 중앙에 정렬하겠다.*/
    background-color: black ;
    color: white ;
    font-size: 12px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    position: absolute;
}
.nav-item{
    font-size: 30px;
}